body{
font-family:Segoe UI;
margin:0;
background:#f6f9ff;
}

.emi-section{

padding:80px 10%;
text-align:center;

}

h1{

font-size:42px;

}

h1 span{

color:#356dff;

}

.subtitle{

margin-bottom:40px;
color:#555;

}

.emi-container{

display:flex;
gap:50px;
justify-content:center;
flex-wrap:wrap;

}

.controls{

flex:1;
min-width:320px;
text-align:left;

}

.input-box{

margin-bottom:30px;

}

label{

font-weight:600;

}

input[type=range]{

width:100%;
margin-top:10px;

}

.value{

margin-top:5px;
font-size:18px;
color:#356dff;

}

.result-box{

flex:1;
min-width:320px;

background:white;

padding:30px;

border-radius:15px;

box-shadow:0 15px 40px rgba(0,0,0,0.1);

}

.result-details{

margin-top:20px;

}

.result-details div{

margin:15px 0;

}

h2{

color:#356dff;
font-size:30px;

}

@media(max-width:768px){

.emi-container{

flex-direction:column;

}

}