body{
font-family: Arial;
margin:0;
padding:0;
background:#f4f4f4;
}

header{
background:#222;
color:white;
padding:15px;
text-align:center;
}

nav a{
color:white;
margin:10px;
text-decoration:none;
}

.hero{
text-align:center;
padding:80px;
background:#ffd84d;
}

.btn{
background:black;
color:white;
padding:10px 20px;
text-decoration:none;
}

.loan-box{
background:white;
padding:20px;
margin:20px;
border-radius:5px;
}

.form-container{
width:300px;
margin:100px auto;
background:white;
padding:30px;
}

input,textarea{
width:100%;
padding:10px;
margin:10px 0;
}

button{
padding:10px;
background:black;
color:white;
border:none;
width:100%;
}

footer{
text-align:center;
padding:20px;
background:#222;
color:white;
}
.services{

text-align:center;
padding:50px;
background:#ffffff;

}

.service-container{

display:flex;
justify-content:center;
gap:30px;
margin-top:30px;

}

.service-box{

width:200px;

}

.service-box img{

width:200px;
height:150px;
object-fit:cover;
border-radius:10px;

}

.service-box p{

margin-top:10px;
font-weight:bold;

}